
@{
    ViewBag.Title = "Index";
}

<div class="justify-content-center bg-secondary-subtle col-12" style="text-align:center">
    <h2>Sazzadur Rahman</h2>
    <h3>ID:1279378</h3>
    <h3>Round:56</h3>
</div>

